/* Popup
...................................... */
.popup-overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    filter: alpha(opacity=33);
    -ms-filter: "alpha(opacity=33)";
    -khtml-opacity: .33;
    -moz-opacity: .33;
    opacity: .33;
}

.popup {
    position: absolute;
    min-height: 50px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    background-color: white;
    -moz-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.33);
    -webkit-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.33);
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.33);
}

.popup.skinny {
    width: 430px !important;
}

.popup.loading {
    background-image: url(/static/icons/32/indicator.gif);
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.popup a.popup-close {
    background: url(/static/icons/8/close.png) no-repeat 50% 50%;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    width: 10px;
    height: 10px;
    padding: 2px;
    z-index: 1;
    filter: alpha(opacity=50);
    -ms-filter: "alpha(opacity=50)";
    -khtml-opacity: .5;
    -moz-opacity: .5;
    opacity: .5;
}

.popup a.popup-close:hover {
    filter: alpha(opacity=1);
    -ms-filter: "alpha(opacity=1)";
    -khtml-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
}

.popup a.popup-close:focus,
.popup a.popup-close:active {
    background-color: #FF7070;
    filter: alpha(opacity=1);
    -ms-filter: "alpha(opacity=1)";
    -khtml-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
}

.popup .popup-content {
    padding: 10px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}


/* Growl
...................................... */
#growl-notifications {
    position: fixed;
    top: 5px;
    right: 5px;
    width: 250px;
    z-index: 1000;
}

#growl-notifications .popup-growl {
    position: relative !important;
    min-height: 20px;
    margin-bottom: 6px;
    background: white;
    background: rgba(255,255,255,0.75);
    -moz-box-shadow: 1px 1px 3px rgba(0,0,0,0.33);
    -webkit-box-shadow: 1px 1px 3px rgba(0,0,0,0.33);
    box-shadow: 1px 1px 3px rgba(0,0,0,0.33);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

#growl-notifications .popup-growl .popup-content {
    padding: 8px;
    background: none;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
