/* TOOLTIPS
----------------------------------------------------------------------------- */
.tooltip-popup {
    pointer-events: none;
    background-color: transparent;  
}

.tooltip-container {
    position: relative;
}

.tooltip {
    position: absolute;
    width: 190px;
    padding: 6px 10px;
    display: block;    
    opacity: 0;
    color: #e0e0e0;
    background: #24252f;
    white-space: normal;
    pointer-events: none;
    text-shadow: 1px 1px 0px #222;
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -ms-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out;
    -webkit-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
    -ms-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
    -o-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
}

/* Briding element to allow mouse interaction */
.tooltip:before {
    position: absolute;
    display: block;
    content: " ";
    /*  background-color: rgba(255, 0, 0, 0.1);*/
}
.tooltip:after {    
    position: absolute;
    border: 8px solid transparent;
    content: " ";
    /* background-color: rgba(0, 255, 0, 0.1);*/
}    
.tooltip.tooltip-always,
.tooltip-container.hover .tooltip,
.tooltip-container:hover .tooltip {
    opacity: 1;
    pointer-events: auto;
}


/* Tooltip Top
............................................................................. */
.tooltip-top {
    bottom: 100%;
    left: 50%;
    margin: 0 0 10px -105px;
    -webkit-transform: translateY(10px);
    -moz-transform: translateY(10px);
    -ms-transform: translateY(10px);
    -o-transform: translateY(10px);
    transform: translateY(10px);
}
.tooltip-top:before {
    left: 0;
    right: 0;
    bottom: -10px;
    height: 10px;
}
.tooltip-top:after {    
    border-bottom: none;
    border-top-color: #24252f;
    left: 50%;
    bottom: -8px;
    margin-left: -8px;
}
.tooltip-top.tooltip-always,
.tooltip-container:hover .tooltip-top {
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px);
}


/* Tooltip Bottom
............................................................................. */
.tooltip-bottom {
    margin: 10px 0 0 -105px;
    left: 50%;
    top: 100%;
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -o-transform: translateY(-10px);
    transform: translateY(-10px);
}
.tooltip-bottom:before {
    left: 0;
    top: -10px;
    bottom: auto;
    height: 10px;
    width: 100%;
}
.tooltip-bottom:after {
    border-top: none;
    border-bottom-color: #24252f;
    left: 50%;
    top: -8px;
    margin-left: -8px;
}
.tooltip-bottom.tooltip-always,
.tooltip-container:hover .tooltip-bottom {
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px);
}


/* Tooltip Right
............................................................................. */
.tooltip-right {
    margin: 0 0 0 10px;
    left: 100%;
    top: 0;
    -webkit-transform: translateX(-10px);
    -moz-transform: translateX(-10px);
    -ms-transform: translateX(-10px);
    -o-transform: translateX(-10px);
    transform: translateX(-10px);
}
.tooltip-right:before {
    left: -10px;
    width: 10px;
    top: 0;
    bottom: 0;
}
.tooltip-right:after {
    border-left: none;
    border-right-color: #24252f;
    left: -8px;
    top: 50%;
    margin-top: -8px;

}
.tooltip-right.tooltip-always,
.tooltip-container:hover .tooltip-right {
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -ms-transform: translateX(0px);
    -o-transform: translateX(0px);
    transform: translateX(0px);
}
    

/* Tooltip Left
............................................................................. */
.tooltip-left {
    margin: 0 10px 0 0;
    right: 100%;
    top: 0;
    -webkit-transform: translateX(10px);
    -moz-transform: translateX(10px);
    -ms-transform: translateX(10px);
    -o-transform: translateX(10px);
    transform: translateX(10px);
}
.tooltip-left:before {
    right: -10px;
    width: 10px;
    top: 0;
    bottom: 0;
}
.tooltip-left:after {
    border-right: none;
    border-left-color: #24252f;
    right: -8px;
    top: 50%;
    margin-top: -8px;
}
.tooltip-left.tooltip-always,
.tooltip-container:hover .tooltip-left {
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -ms-transform: translateX(0px);
    -o-transform: translateX(0px);
    transform: translateX(0px);
}


/* Tooltip Triangle Align Top */
.tooltip-align-top {}
.tooltip-align-top:after {  
    margin-top: 0;  
    top: 4px;
} 


/* Tooltip Align Left */
.tooltip-align-left {
    /* margin: 10px 0 0 0; */
    left: auto;
    right: 0;
}
.tooltip-align-left:after {    
    /* margin-left: 0; */
    left: auto;
    right: 4px;
} 


/* Tooltip Align Right */
.tooltip-align-right {
    /* margin: 10px 0 0 0; */
    margin-left: 0;
    left: 0;
    right: auto;
}
.tooltip-align-right:after {    
    margin-left: 0;
    left: 4px;
    right: auto;
} 


/* IE can just show/hide with no transition */
.lte8 .tooltip {
    display: none;
}

.lte8 .tooltip-always,
.lte8 .tooltip-container:hover .tooltip {
    display: block;
}